#ignore private files
private
#testfiles
rawResonse.txt
test.txt
# Ignore environment files
.env
.env.*

# Ignore dependencies
node_modules/

# Ignore build output
dist/
build/

# Ignore logs
logs/
*.log

# Ignore OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

